/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f2f2;
  color: #222;
  text-align: center;
}

/* ===== HEADER ===== */
header {
  background: #111;
  color: white;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* ===== HERO SECTION ===== */
.hero {
  padding: 40px 20px;
}

.hero img {
  width: 85%;
  max-width: 350px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.hero h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.hero button {
  background: #ffb703;
  color: #111;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.hero button:hover {
  background: #ffa600;
}

/* ===== FOOTER ===== */
footer {
  background: #111;
  color: white;
  padding: 15px;
  margin-top: 50px;
  font-size: 14px;
}
