body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f9fc;
  color: #002b5c;
  text-align: center;
}

header {
  background-color: #002b5c;
  color: white;
  text-align: center;
  padding: 30px 0;
}

.hero img {
  width: 80%;
  max-width: 450px;
  border-radius: 14px;
  margin: 20px auto;
  display: block;
}

.hero button {
  margin-top: 20px;
  padding: 12px 28px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  background-color: #005eaa;
}

footer {
  background-color: #002b5c;
  color: white;
  text-align: center;
  padding: 18px 0;
  margin-top: 50px;
  border-top: 3px solid #00aaff;
  }
